<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=10.1.131.10;Initial Catalog=DCloudNetDb;User ID=sa;Password=1qaz@WSX" providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="Data Source=10.1.131.10;Initial Catalog=DCloudNetDb;User ID=sa;password=1qaz@WSX;"/>
</connectionStrings>