<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="NFineDbContext" connectionString="Server=10.1.131.10;Initial Catalog=DCloudNetDb;User ID=sa;Password=1qaz@WSX" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=10.1.131.10;Initial Catalog=DCloudNetDb;User ID=sa;password=1qaz@WSX;"/>
  </connectionStrings>



  <appSettings>
    <!-- ================== 3：外部邮件参数 ================== -->
    <!-- 设置邮箱名称 -->
    <add key="MailName" value="邮件中心" />
    <!-- 设置邮箱地址 -->
    <add key="MailUserName" value="guizijian@163.com" />
    <!-- 设置邮箱密码 -->
    <add key="MailPassword" value="Deathgan1" />
    <!-- 设置邮箱主机 -->
    <add key="MailHost" value="smtp.163.com" />
    <!--服务器域名地址-->
    <add key="WebSiteUrl" value="http://eims.dalecloud.cn/" />
  </appSettings>
</configuration>


